# Data analyse: Het weer
In het bestand `weather_dataset.csv`vind je weergegevens van verschillende steden. Jouw taak is om deze data op te schonen en te analyseren. Gebruik de voorziene code-velden onder de opdrachten om je code in te schrijven.

## Opgelet
- Gebruik de voorziene code-velden onder de opdrachten om de gevraagde code in te schrijven.
- Verdeel je code voor die opdracht niet in verschillende code-velden.
- Verander of verwijder de commentaren (#) niet.
- Gebruik de gevraagde benamingen voor de variabelen.

-----------------

Importeer de packages die je nodig hebt.

In [47]:
import pandas as pd

* Importeer de weergegevens in een DataFrame met de naam `df_weather`. 
* Inspecteer het DataFrame door de eerste 10 rijen te tonen (gebruik hiervoor geen slicing).

In [48]:
#Import and inspect
path = "weather_dataset.csv"
data = pd.read_csv(path)
data.head(10)

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5
5,20000106,1,3,0.85,1.0244,0.56,0.00,5.7,4.2,1.9,...,-0.6,4.0,3.4,0.92,1.0209,0.55,0.20,7.1,3.5,10.7
6,20000107,1,8,0.84,1.0267,0.20,0.00,0.0,4.7,1.8,...,1.7,4.1,2.8,0.96,1.0258,0.27,0.00,6.0,3.3,8.8
7,20000108,1,4,0.79,1.0248,0.54,0.00,4.3,5.6,4.1,...,3.5,6.4,3.6,0.97,1.0210,0.18,0.14,8.2,5.3,11.0
8,20000109,1,8,0.88,1.0243,0.11,0.65,0.0,4.6,3.8,...,3.3,5.1,3.0,0.91,1.0280,0.43,0.02,5.6,3.7,7.6
9,20000110,1,8,0.91,1.0337,0.06,0.09,0.0,2.4,1.4,...,0.0,5.5,1.9,0.94,1.0369,0.58,0.04,1.8,-1.5,5.0

* Verander de data ('datums'/meervoud van datum) in de DATE kolom in pandas datetime objects.
* Enkel de rijen met data uit 2009 moeten in het dataframe worden opgenomen.

In [50]:
#datetime objects, year 2009
data['DATE'] = pd.to_datetime(data['DATE'], format="%Y%m%d")
data = data[data['DATE'].dt.year == 2009]
data.head(10)

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
3288,2009-01-01,1,4,0.84,1.0284,0.63,0.00,7.1,1.5,0.2,...,-6.0,-1.9,4.9,0.92,1.0259,0.22,0.00,0.6,-0.5,1.7
3289,2009-01-02,1,8,0.89,1.0262,0.07,0.00,0.0,-1.0,-1.8,...,-8.1,-4.6,4.9,0.93,1.0245,0.08,0.00,-0.4,-1.1,0.4
3290,2009-01-03,1,5,0.72,1.0263,0.50,0.00,2.9,-3.1,-6.2,...,-5.8,-2.7,6.0,0.79,1.0236,0.69,0.00,-0.1,-1.4,1.1
3291,2009-01-04,1,4,0.75,1.0239,0.62,0.00,5.4,-3.7,-6.5,...,-10.8,-5.8,1.9,0.86,1.0231,0.68,0.00,-2.4,-5.3,0.5
3292,2009-01-05,1,8,0.84,1.0197,0.28,0.05,0.0,-4.1,-6.4,...,-12.6,-8.3,2.0,0.92,1.0181,0.18,0.16,-4.4,-6.9,-1.9
3293,2009-01-06,1,8,0.86,1.0196,0.13,0.05,0.0,-4.2,-5.3,...,-8.7,-0.2,4.0,0.82,1.0210,0.66,0.00,-4.9,-8.2,-1.6
3294,2009-01-07,1,7,0.84,1.0223,0.17,0.00,0.0,-5.7,-9.8,...,-7.8,0.3,2.8,0.71,1.0239,0.78,0.00,-6.2,-13.0,0.7
3295,2009-01-08,1,3,0.82,1.0278,0.66,0.00,6.3,-6.4,-10.6,...,-9.7,1.4,5.2,0.82,1.0249,0.62,0.00,-1.4,-3.5,0.6
3296,2009-01-09,1,0,0.87,1.0303,0.64,0.00,6.3,-6.1,-9.6,...,1.0,5.8,2.1,0.80,1.0267,0.74,0.00,-5.0,-9.0,-1.0
3297,2009-01-10,1,0,0.84,1.0311,0.67,0.00,6.1,-5.1,-9.4,...,-0.1,3.2,2.5,0.80,1.0281,0.75,0.00,-3.6,-8.5,1.2

* Verwijder de rijen met NaN-waarden

In [53]:
#NaN
data = data.dropna()


* Maak 4 verschillende DataFrames aan, één voor elk van deze steden: Basel, Oslo, Roma en Maastricht. Geef ze respectievelijk volgende namen: `df_Basel`, `df_Oslo`, `df_Roma` en `df_Maastricht`.
* Elk dataframe moet de kolom met de datum en de maand bevatten en al de kolommen met de gegevens van de betreffende stad.

In [44]:
#New dataframes
df_basel = data[data]

### Maastricht
Teken een grafiek met daarop volgende informatie over de temperatuurmetingen in de loop van de tijd in Maastricht:
* Temperatuur in °C wordt op de y-as getoond
* Gemiddelde temperatuur in het oranje (orange)
* Max temperatuur in rood (red)
* Min temperatuur in blauw (blue)
* Toon ook een legende met gepaste labels die aanduiden welke data er wordt getoond
* Zorg voor correcte as-labels en titel
* Zorg dat er voor elke maand een markering is op de x-as. Label deze met de afkorting voor de maanden (jan, feb, maart etc. )

In [45]:
#Maastricht
pd.DataFrame(data[''])

### Mean temperatures
Gemiddelde temperatuur   

Maak een nieuwe grafiek met de gemiddelde temperatuur gemeten in de loop van de tijd in de steden waarvoor je aparte dataframes hebt gemaakt. Temperatuur wordt in graden Celcius weergegeven op de y-as.

* Maastricht in oranje (orange)
* Roma in rood (red)
* Basel in groen (green)
* Oslo in blauw (blue)
* Toon een legende met gepaste labels die duidelijk maken welke gegevens worden getoond
* Zorg voor correcte as-labels en titel
* Voorzie markeringen voor elke maand op de x-as, gelabeld met de afkorting van de maanden (jan, feb, maart etc.)
* Toon een raster (grid)

In [46]:
#Mean temperatures

___

Controleer je werk grondig en zorg ervoor dat je alle opdrachten hebt gemaakt.   
Er zijn geen testen voorzien voor deze data analyse oefening. Zorg ervoor dat je de juiste namen hebt gebruikt.

___